<div id="new_message_popup" class="popup" style="display:none">

  <h3>Новое сообщение</h3>

  <% form_remote_for(:message, :url => message_path,
                     :loading => "Element.show('popup_spinner');Form.disable('message_form');",
                     :complete => "Element.hide('popup_spinner');Form.enable('message_form');",
                     :html => {:id => 'message_form'}
     ) do |f| %>
      <table style="margin-left: 20px">
        <tbody>
        <tr><td><p style="text-decoration: underline">Кому:</p></td></tr>
        <tr>
          <td><%= f.label "Группа пользователей" %></td>
          <% @message.group_id = current_user.group_id %>
          <td><%= f.select(:group_id, Group.all.collect {|g| [g.gr_cipher, g.id]}, {:include_blank => 'Всем'}, {:class=>"field"})%></td>
        </tr>
        <tr>
          <td><%= f.label "Пользователь" %></td>
          <div id="student" style="display: none">
            <% @st = User.find_all_by_group_id(@message.group_id) %>
          </div>
          <td><%= f.select(:mes_recipient, @st.map {|s| [s.user_surname+' '+s.user_name, s.id]}.sort, {:prompt => 'Всем'}, {:class=>"field"}) %></td>
        </tr>
        <tr>
          <td width="30%"><%= f.label "Тема" %></td>
          <td><%= f.text_field :mes_theme, :class => "field" %></td>
        </tr>
        <tr>
          <td><%= f.label "Текст сообщения"%></td>
          <td><%= f.text_area :mes_text, :rows => 5, :class => "field"%></td>
        </tr>
        <tr>
          <td><%= f.label "Файл" %></td>
          <td><%= f.file_field :mes_file , :class => "field"%></td>
        </tr>

        </tbody>
      </table>

      <p>
        <%= submit_tag 'Отправить' %>
        <%= tag :input, :type => 'button', :value => 'Cancel', :class => 'popup_closebox' %>
        <%= image_tag 'spinner.gif', :id => 'popup_spinner', :style => 'display:none' %>
      </p>
  <% end %>

</div>
<%= javascript_tag "new Popup('new_message_popup','new_message_link',{modal:true})" %>