<div style="min-height: 700px;">
  <p id="notice"><%= notice %></p>
  <div class="panelleft">
    <div id="datepicker"></div><br/>
    <div class="coming_events">
      <table>
        <thead>
        <tr>
          <td>Ближайшие события</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>21.06.2012 Защита диплома</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="calls">
      <h4>Расписание звонков:</h4><br/>
      <% @calls = list_calls  %>
      <% @calls.each do |call| %>
          <p><%= call.start_time.to_s(:time) + ' - ' + call.end_time.to_s(:time) %></p>
      <% end %>
    </div>
  </div>
  <% @couples = list_couples %>
  <div class="panelright">
    <h1 style="padding-left: 20px; margin-bottom: 20px;">Сообщения</h1>
    <div class="section">
      <ul class="tabs" style="display: inline-block;">
        <li class="current">Полученные</li>
        <li>Отправленные</li>
      </ul>
      <li style="display: inline; float: right; font-size: 90%;"><span id="new_message_link" class="popup_link">Написать сообщение</span></li>
      <%= render :partial => 'messages/new' %>
      <%= render :partial => 'shared/message_popup' %>



      <div class="box visible">
        <table>
          <% @message_input = mes_input(current_user.id, current_user.group_id) %>
          <% if @message_input.nil? %>
              <tr><p align="center" style="padding: 10px;">Сообщений нет</p></tr>
          <% else %>
              <% @message_input.each do |mi| %>
                  <tr class="mes_tr">
                    <td class="mes_author">
                      <p>
                        <% if mi.status == "teacher" %>
                            <%= mi.surname + " " + mi.name + " " + mi.secondname %>
                        <% else %>
                            <% if mi.status == "student" %>
                                <%= mi.surname + " " + mi.name %>
                            <% end %>
                        <% end %>
                      </p>
                      <p style="font-size: 70%">
                        <% if ((mi.created_at.day == Date.today.day) && (mi.created_at.month == Date.today.month) && (mi.created_at.year == Date.today.year)) %>
                            Сегодня <%= Russian::strftime(mi.created_at, "%H:%M") %>
                        <% else %>
                            <%= Russian::strftime(mi.created_at, "%d.%m.%Y %H:%M")%>
                        <% end %>
                      </p>
                    </td>
                    <td width="60%" class="message"><p><b><%= mi.mes_theme %></b></p>
                      <p>
                        <% if (mi.mes_text).size < 150 %>
                            <%= mi.mes_text %>
                        <% else %>
                            <%= mi.mes_text[0..150]+ "..." %>
                        <% end %>
                      </p>
                    </td>
                    <td class="mes_option"><a href="">Ответить</a></td>
                    <td class="mes_option"><%= link_to 'Удалить', mi, method: :delete %></td>
                  </tr>
              <% end %>
          <% end %>
        </table>
      </div>

      <div class="box">
        <table>
          <% @message_output = mes_output(current_user.id) %>
          <% if @message_output.nil? %>
              <tr><p align="center" style="padding: 10px;">Сообщений нет</p></tr>
          <% else %>
              <% @message_output.each do |mo| %>
                  <tr class="mes_tr">
                    <td class="mes_author">
                      <p>
                        <% if mo.status == "teacher" %>
                            <%= mo.surname + " " + mo.name + " " + mo.secondname %>
                        <% else %>
                            <% if mo.status == "student" %>
                                <%= mo.surname + " " + mo.name %>
                            <% end %>
                        <% end %>
                      </p>
                      <p style="font-size: 70%">
                        <%= Russian::strftime(mo.created_at, "%d.%m.%Y %H:%M") %>
                      </p>
                    </td>
                    <td width="65%" class="message"><p><b><%= mo.mes_theme %></b></p>
                      <p>
                        <% if mo.mes_text.size < 150 %>
                            <%= mo.mes_text %>
                        <% else %>
                            <%= mo.mes_text[0..150] + "..." %>
                        <% end %>
                      </p>
                    </td>
                    <td class="mes_option"><a href="">Удалить</a></td>
                  </tr>
              <% end %>
          <% end %>
        </table>
      </div>

      <div class="box">
        <% @message = Message.new %>
        <%= render "messages/form" %>
        <table>
          <% @message_output = mes_output(current_user.id) %>
          <% if @message_output.nil? %>
              <tr><p align="center" style="padding: 10px;">Сообщений нет</p></tr>
          <% else %>
              <% @message_output.each do |mo| %>
                  <tr class="mes_tr">
                    <td class="mes_author">
                      <p>
                        <% if mo.status == "teacher" %>
                            <%= mo.surname + " " + mo.name + " " + mo.secondname %>
                        <% else %>
                            <% if mo.status == "student" %>
                                <%= mo.surname + " " + mo.name %>
                            <% end %>
                        <% end %>
                      </p>
                      <p style="font-size: 70%">
                        <%= Russian::strftime(mo.created_at, "%d.%m.%Y %H:%M") %>
                      </p>
                    </td>
                    <td width="65%" class="message"><p><b><%= mo.mes_theme %></b></p>
                      <p>
                        <% if mo.mes_text.size < 150 %>
                            <%= mo.mes_text %>
                        <% else %>
                            <%= mo.mes_text[0..150] + "..." %>
                        <% end %>
                      </p>
                    </td>
                    <td class="mes_option"><a href="">Удалить</a></td>
                  </tr>
              <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

</table>

<br />
</div>

