<div class="registration">
  <h1>Вход в личный кабинет</h1><br/>

  <%= form_for(:session, :url => sessions_path) do |f| %>
      <div>
        <%= f.label "E-mail" %><br/>
        <%= f.text_field :email, :class => "field" %>
      </div>
      <div>
        <%= f.label "Пароль" %><br/>
        <%= f.password_field :password, :class => "field" %>
      </div>
      <br/>
      <div>
        <%= f.submit "Sign in", :value => "Вход" %>
      </div>
  <% end %>

  <%= link_to "Регистрация", signup_path %>

</div>