<% @discipline.module_of_disciplines.build %>
<br />
<%= form_for(@discipline) do |f| %>
    <%= render 'shared/error_message', :target => @discipline %>



    <table width="80%">
      <tbody>
      <tr>
        <td align="right"><%= f.label "Название дисциплины" %></td>
        <td><%= f.text_field :disc_name, :class => "field" %></td>
      </tr>
      <tr>
        <td align="right"><%= f.label "Выберите специальность" %></td>
        <td><%= f.select :speciality_id, Speciality.all.collect {|s| [s.spec_name, s.id]}, {:include_blank => 'Выберите специальность'}, {:class => "field"} %></td>
      </tr>
      <tr>
        <td align="right"><%= f.label "Форма обучения:" %></td>
        <td><%= f.select :disc_cycle, %w[Очная  Заочная Вечерняя Очно-заочная], {:include_blank => 'Выберите форму обучения'}, {:class => "field"}  %></td>
      </tr>
      <tr>
        <td align="right"><%= f.label "Курс преподавания" %></td>
        <td><%= f.text_field :disc_course, :class => "field" %>  </td>
      </tr>
      <tr>
        <td align="right"><%= f.label "Семестр преподавания" %></td>
        <td><%= f.text_field :disc_semester, :class => "field" %>  </td>
      </tr>
      <tr>
        <td align="right"><%= f.label "Цикл дисциплин преподавания" %></td>
        <td><%= f.select :disc_cycle, ['Гуманитарный, социальный и экономический цикл' , 'Математический и естественно-научный цикл','Профессиональный цикл','Физическая культура', 'Факультативы'], {:include_blank => 'Выберите цикл дисциплин'}, {:class => "field"} %> </td>
      </tr>
      <tr>
        <td align="right"><%= f.label "Подцикл дисциплин преподавания" %></td>
        <td><%= f.select :disc_partofcycle, ['Базовая часть' , 'Вариативная часть'], {:include_blank => 'Выберите подцикл дисциплин'}, {:class => "field"} %> </td>
      </tr>
      <tr>
        <td align="right"><%= f.label "Цели дисциплины" %></td>
        <td><%= f.text_area  :disc_objective, :class => "field" , :rows =>"5" , :cols =>"150"  %> </td>
      </tr>
      <tr>
        <td align="right"><%= f.label "Задачи дисциплины" %></td>
        <td><%= f.text_area  :disc_tasks, :class => "field" , :rows =>"5" , :cols =>"150"%> </td>
      </tr>
      </tbody>
    </table>

    <hr align="center"  noshade="true">

    <!--@mod=@discipline.module_of_disciplines.all()        -->
    <!--mod.each do |mod_form| -->



    <hr align="center"  noshade="true">




    <div class="actions">
      <%= f.submit "Сохранить"%>

    </div>
<% end %>