<h1>Сведения о дисциплине "<%= @discipline.disc_name %>"</h1>
<p  id="notice"><%= notice %></p>



<p>Специальность: <%= @spec=Speciality.find(@discipline.speciality_id).spec_name %>  </p><br/>


<p>Курс: <%= @discipline.disc_course %></p><br/>

<p>Цикл дисциплин: <%= @discipline.disc_cycle %></p><br/>
<p>Подцикл дисциплин: <%= @discipline.disc_partofcycle %></p><br/>


<p>Цель курса: <%= @discipline.disc_objective %></p><br/>
<p>Задачи курса: <%= @discipline.disc_tasks %></p><br/>


<div align="left">
  Компетенции, необходимые для изучения дисциплины:


<table>
  <% foc=@discipline.formation_of_competences.all(:conditions => foc_type='true')

     foc.each do |formation_of_competence| %>
      <% if (formation_of_competence.foc_type?)%>
          <tr>
            <td width="10%"><%=formation_of_competence.competence.comp_group %> |</td>
            <td width="60%"><%=formation_of_competence.competence.comp_name %></td>
            <td><%= link_to 'Подробнее...',formation_of_competence.competence %></td>
          </tr>
          <% end %>

  <%end %>
</table>
<br/>
</div>


<div align="left">
  Компетенции, формируемые в процессе изучения дисциплины:


<table>
  <% foc=@discipline.formation_of_competences.all()

     foc.each do |formation_of_competence| %>
      <% if (formation_of_competence.foc_type?)%>
          <% else %>
          <tr>
            <td width="10%"><%= formation_of_competence.competence.comp_group %> |</td>
            <td width="60%"><%= formation_of_competence.competence.comp_name %></td>
            <td><%= link_to 'Подробнее...',formation_of_competence.competence %></td>
      </tr>
      <% end %>
  <%end %>
</table>
<br/>
</div>





<h2>Действия:</h2>
<%= link_to 'Загрузить рабочую программу', edit_discipline_path(@discipline) %> |
<%= link_to 'Скачать рабочую программу', edit_discipline_path(@discipline) %> |
<%= link_to 'Редактировать рабочую программу', edit_discipline_path(@discipline) %> |
<%= link_to 'К списку дисциплин', disciplines_path %>
