<%= form_for(@student) do |f| %>
  <% render 'shared/error_message', :target => @student %>
    <table>
      <tbody>
      <tr>
        <td width="300px"><%= f.label "Фамилия" %></td>
        <td><%= f.text_field :stud_surname, :class => "field" %></td>
      </tr>
      <tr>
        <td><%= f.label "Имя" %></td>
        <td><%= f.text_field :stud_name, :class => "field" %></td>
      </tr>
      <tr>
        <td><%= f.label "Отчество" %></td>
        <td><%= f.text_field :stud_secondname, :class => "field" %></td>
      </tr>
      <tr>
        <td><%= f.label "Группа" %></td>
        <td><%= f.select :group_id, Group.all.collect {|g| [g.gr_cipher, g.id]}, {:include_blank => "Выберите группу"}, {:class => "field"} %></td>
      </tr>
      <tr>
        <td><%= f.check_box :stud_captain %><%= f.label "Староста" %></td>
      </tr>

      </tbody>
    </table>

  <div class="actions">
    <%= f.submit :value => "Сохранить", :class => "actions"%>
  </div>
<% end %>