
<br />

<%= form_for(@speciality) do |f| %>
    <% if @speciality.errors.any? %>
        <div id="error_explanation" class="field">
          <h2>Найдено ошибок: <%= @speciality.errors.count  %>. Необходимо сделать следующее:</h2>

          <ul>
            <% @speciality.errors.full_messages.each do |msg| %>
                <br \><li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>



    <table>
      <tbody>
      <tr>
        <td width="300px"><%= f.label "Название специальности" %></td>
        <td><%= f.text_field :spec_name, :class => "field" %></td>
      </tr>
      <tr>
        <td><%= f.label "Сокращение" %></td>
        <td><%= f.text_field :spec_redaction, :class => "field" %></td>
      </tr>
      <tr>
        <td><%= f.label "Описание" %></td>
        <td><%= f.text_area :spec_description, :class => "field" %>  </td>
        <td><%= f.text_area :spec_description2, :class => "field" %>  </td>
      </tr>
      <tr>
        <td><%= f.label "Вступительные экзамены" %></td>
        <td><%= f.text_area :spec_exams, :class => "field" %>  </td>

      </tr>
      </tbody>
    </table>

    <div>
      <%= f.submit "Сохранить" %>
    </div>
<% end %>