<h1>Направления подготовки</h1><br/>
<p id="notice"><%= notice %></p>
На сегодняшний день кафедра готовит специалистов по следующим направлениям:

<% @specialities.each do |speciality| %>
    <h2><%= speciality.spec_name %> (<%= speciality.spec_redaction %>)</h2>
    Вступительные испытания:  <%= speciality.spec_exams %>        <br/>

    Подробнее о направлении <%= speciality.spec_name %> <%= link_to '>>' , speciality %>  <br/>
    <br/>

<% end %>



<%= link_to 'Добавить специальность', new_speciality_path %>