<p id="notice"><%= notice %></p>

<h1><%= @speciality.spec_name %> (<%= @speciality.spec_redaction %>)</h1> <br/>


<h2>Вступительные экзамены:</h2>
<p><%= @speciality.spec_exams %></p><br/>
<p></p><br/>

<p><%= @speciality.spec_description %></p><br/>
<ol>

  <%
     dis=@speciality.disciplines.all(  :order => 'disc_semester ASC')
     dis.each do |discipline|
       foc= discipline.formation_of_competences.all()
       foc.each do |formation|
         if formation.foc_type.nil? %>
          <% else %>
              <li><%=  formation.competence.comp_name %>  <%= link_to ' (подробнее...)', formation.competence %></li>
          <%end %>
      <%end %>
  <%end %>
</ol>




<br/>
<h2>Преподаваемые дисциплины: </h2>
<br/>

<% semester=0
  loop do
    semester+=1     %>


    <h3> <%= semester %> семестр:</h3>
                    <%
    dis=@speciality.disciplines.all( :order => 'disc_semester ASC')
    dis.each do |discipline|
      if discipline.disc_semester==semester %>
            <dd>
              <dl><%= discipline.disc_name %> <%= link_to ' >>', discipline , {:target => "_blank"} %></dl>
            </dd>

        <%end %>
    <%end %>

    </br>
    <%


    next if semester==5
    print "#{semester} "
    break if semester==10
  end     %>



<table>
  <tr>
    <br/>
    <%= link_to 'К списку направлений подготовки', specialities_path %> |
    <%= link_to 'Редактировать', edit_speciality_path(@speciality) %>

  </tr>
</table>