<h1>Список записей о формировании/требовании компетенций</h1>

<table border="1">

  <tr>
    <th width="5%" >Код компетенции</th>
    <th>Содержание компетенции</th>
    <th width="5%">Формируется/Требуется</th>
    <th>Дисциплиной</th>
    <th></th>

  </tr>


  <% @formation_of_competences.each do |formation_of_competence| %>
      <tr>
        <td><%= formation_of_competence.competence.comp_group %></td>
        <td><%= formation_of_competence.competence.comp_name %></td>
        <td>
          <%  if formation_of_competence.foc_type %>
              Требуется
          <% else %>
              Формируется
          <% end %>
        </td>
        <td><%= formation_of_competence.discipline.disc_name %></td>



        <td><%= link_to 'Подробнее', formation_of_competence %>   <br />
          <%= link_to 'Редактировать', edit_formation_of_competence_path(formation_of_competence) %>    <br />
          <%= link_to 'Удалить', formation_of_competence, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'Добавить запись', new_formation_of_competence_path %>
