<p id="notice"><%= notice %></p>


<p>Код компетенции: <%= @competence.comp_group %></p><br/>
<p>Название компетенции: <%= @competence.comp_name %></p><br/>



<%= link_to 'Редактировать', edit_competence_path(@competence) %> |
<%= link_to 'К списку компетенций', competences_path %>
